/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

/* Utilities */
@import url(./components/card.css);
@import url(./components/footer.css);
@import url(./components/hero.css);

*, *::after, *::before {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body {
  margin: 0;
  font-family: Open Sans;
  background-color: goldenrod;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
